@page
@model NotificationSignalR.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<label for="message">Enter message:</label>
<input id="message" />
<button id="send">Send</button>
