@page
@model NotificationSignalR.Pages.StudentModel
@{
    ViewData["Title"] = "Student";
}

<h1>Student</h1>



<button type="button" class="btn btn-primary" id="badgeButton">
    Notifications <span class="badge badge-light"></span>
</button>
<div id="messageBox"></div>
@*<ul id="messageDropdown">
   
</ul>*@